<div class="container">
  <mat-card class="profile-card">
    <form [formGroup]="profileForm">
      <mat-card-content>
        <mat-form-field class="input-full-width">
          <mat-label>First name</mat-label>
          <input matInput type="text" formControlName="firstName" name="firstName" required />
          <mat-error *ngIf="profileForm.get('firstName')?.hasError('required')">This field is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-width">
          <mat-label>Last name</mat-label>
          <input matInput type="text" formControlName="lastName" name="lastName" required />
          <mat-error *ngIf="profileForm.get('lastName')?.hasError('required')">This field is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-width">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" name="email" required/>
          <mat-error *ngIf="profileForm.get('email')?.hasError('required')">This field is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-width">
          <mat-label>Bio</mat-label>
          <input matInput type="text" formControlName="bio" name="bio" />
        </mat-form-field>
    </mat-card-content>
      <mat-card-actions>
        <mat-progress-bar *ngIf="saving === true" mode="indeterminate"></mat-progress-bar>
        <button mat-raised-button color="primary" (click)="update()" [disabled]="!profileForm.valid || saving === true">Save</button>
        <button mat-stroked-button color="basic" [routerLink]="['/profile', profile.id]" [disabled]="saving === true">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
